* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.landing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 15em;
}


.info-container h1{
    font-size: 105px;
    font-weight: bold;
}

.info-container-inventory {
    display: flex;
    flex-direction: row;
    border: black solid;
    background-color: black;
    color: white;
    max-width: 35%;
    border-radius: 25px;
    justify-content: center;
    font-size: 23px;
    padding: 0.2em;
}

.info-container-inventory a {
    margin-right: 0.5em;
}


@media only screen and (max-width: 1000px) {
    .info-container h1{
    font-size: 70px;
    font-weight: bold;
    }

    .landing {
        display: flex;
        flex-direction: column;
    }
 }
/*  */
.arrow-down {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2em;
}
/*  */

.models-content {
    width: 100%;
    max-width: 1432px;
    margin: 0 auto;
}


.landing-display-models {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
  
}

.display-heading h2 {
    font-size: 36px;
    font-weight: bold;
}

.display-models {
    display: flex;
    justify-content: center;
    gap: 5em;
    align-items: center;
    margin-top: 2.5em;
}

#car_image {
    width: 100%;
    max-width: 422px;
    height: auto;
}

/*  */

.email-container {
    width: 100%;
    max-width: 1432px;
    margin: 0 auto;
}

.email-section-info-text {
    margin-top: 7em;
}

.email-section-info-text h2 {
    font-size: 36px;
    font-weight: bold;
}

.email-section-info-text p {
    font-size: 16px;
}

.email-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(110, 110, 110);
    border-radius: 15px;
    margin: 2em 0em;
    padding: 8em 6em;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5em;
}

#form-input {
    border-radius: 5px;
    border: solid 1px rgb(110, 110, 110);
}

#form-submit {
    border-radius: 5px;
    border: solid 1px rgb(110, 110, 110);
    background-color: black;
    color: rgb(110, 110, 110);
    padding: 0.5em 5em;
}

/*  */

.weekly-highlight {
    width: 100%;
    max-width: 1432px;
    margin: 7em auto;
}

.weekly-highlight h2 {
    font-size: 32px;
    font-weight: bold;
}

.weekly-highlight-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1432px;
    margin: 2em auto;
    justify-content: space-between;
}

.weekly-highlight-img-car img {
    max-width: 871px;
    height: 492px;
}

.weekly-highlight-img-dash {
    background-image: url('../images/TextMacan.png');
    height: 492px;
    width: 435px;
    background-repeat: no-repeat;
    padding: 4.5em;
}

.weekly-highlight-img-dash h3 {
    color: #ffff;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.weekly-highlight-img-dash p {
    color: #ffff;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    margin-top: 0.5em;
}